<tr id="catalog_<%= catalog.id %>">
	<td><%= catalog.name %></td>
	<td><%= catalog.code %></td>
	<td><%= catalog.quantity %></td>
	<td><% if catalog.products.length > 0 %>
		<% catalog.products.each do |prod| %>
			<ul>
				<li><%= prod.name %></li>
			</ul>
		<% end %>
	<% else %> No product
	<% end %></td>
	<td><%= link_to 'Show catalog', catalog %> | 
	    <%= link_to "Edit catalog", edit_catalog_path(catalog), remote: true %> | 
	    <%= link_to 'Delete catalog', catalog, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></td>
</tr>