<div id="catalog-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= params[:action] %>catalog</h4>
      </div>
      <%= form_for @catalog, remote: true do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div class="form-group">
          <%= f.label :code %>
          <%= f.text_field :code %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
