<% if @catalog.errors.blank? %>
  $('#catalog-modal').modal('hide');
  $('table tbody').append('<%= j render "catalog_row", catalog: @catalog %>');
<% else %>
  // TODO: show the errors in the UI
  alert('Algo falló');
<% end %>