<p id="notice"><%= notice %></p>

<h1>Catalogs</h1>

<table class="table" id="catalogs">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Number of products</th>
      <th>Products</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @catalogs.each do |catalog| %>
      <%= render 'catalog_row', catalog: catalog %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Catalog", new_catalog_path, remote: true, class: "btn btn-primary" %>