<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @catalog.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @catalog.code %>
</p>

<p>
  <strong>Number of products:</strong>
  <%= @catalog.quantity %>
</p>

<% if @catalog.products.length > 0 %>
	<p>
	  <strong>Products:</strong>
	</p>
	<ul id="products">
	  <% @catalog.products.each do |product| %>
		<%= render 'products/product_row', product: product %>
	  <% end %>
	</ul>
<% end %>

<%= link_to "New product", new_catalog_product_path(@catalog), remote: true, class: "btn btn-primary" %>
</p></br></br>

<%= link_to "Edit catalog", edit_catalog_path(@catalog), remote: true %> |
<%= link_to 'Back to catalogs', catalogs_path %>
