<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= params[:action] %>Product</h4>
      </div>
      <% url = if params[:action] == "edit" %>
        <% {:controller => "products", :action => "update"} %>
      <% elsif params[:action] == "new" %>
        <% catalog_products_path %>
      <% end %>
      <%= form_for @product, url: url, remote: true do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :code %>
          <%= f.text_field :code, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :price %>
          <%= f.number_field :price, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :weight %>
          <%= f.number_field :weight, class: "form-control" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>