<% object = if params[:action] == "show" %>
  <% product %>
<% elsif params[:action] == "create" || params[:action] == "update" %>
  <% @product %>
<% end %>
<li id="product_<%= product.id %>"><%= link_to product.name, {:controller => "products", :action => "show", :id => product.id, :catalog_id => (params[:catalog_id] || @catalog.id)}%> | <%= link_to "Edit product", {:controller => "products", :action => "edit", :id => product.id, :catalog_id => (params[:catalog_id] || @catalog.id)}, remote: true %> | <%= link_to 'Delete product', {:controller => "products", :action => "destroy", :id => product.id, :catalog_id => (params[:catalog_id] || @catalog.id)}, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %>
</li>