<% if @product.errors.blank? %>
  $('#product-modal').modal('hide');
  $("#products").append('<%= j render "product_row", product: @product %>');
<% else %>
  // TODO: show the errors in the UI
  alert('Algo falló');
<% end %>